[2020-08-07 13:08] jinmingjian opened #1 "add docker image for easier getting started"

[2020-08-07 13:46] jinmingjian opened #2 "support count(*) aggregation"

[2020-08-07 13:47] jinmingjian opened #3 "support max/min/avg aggregation"

[2020-08-07 13:48] jinmingjian opened #4 "support group by"

[2020-08-07 13:53] jinmingjian opened #5 "support order by"

[2020-08-07 13:55] jinmingjian commented on #2
and maybe count(1), count(col)

[2020-08-07 13:56] jinmingjian opened #6 "support where"

[2020-08-07 13:59] jinmingjian opened #7 "support select multi-columns and in more places"
should be partially ok...

[2020-08-08 03:34] jinmingjian opened #8 "verify working status on windows 10 wsl2"
"getting started" section should work on windows 10 wsl2. but I have no machine for the verification temporarily...

[2020-08-09 14:13] BIAOXYZ opened #9 "Cannot join slack channel from the links in README or in offcial website, maybe consider opening a new communication channel like gitter?"
When click the `Slack Channel` link in README or in official website, it redirects you to tensorbase's official Slack Channel link: https://tensorbase.slack.com/, but without an invitation. So I think newcomers cannot log in.
![image](https://user-images.githubusercontent.com/6740021/89734076-56842980-da8c-11ea-8c3f-d15d0021a3fb.png)

I can log in other slack workspaces like Kubernetes, so I guess

[2020-08-09 14:27] jinmingjian commented on #9
@BIAOXYZ  much thanks for your feedback! just back from a leave! Let me do a check. I am sure that we need a big bang of talking way...

[2020-08-09 14:52] jinmingjian commented on #9
@BIAOXYZ you are right. I've found the invitation link ... I have done a change to the slack link. Can you give a try to confirm? It is truly a shame that we can not design the communication in high availability :smile:

**Base thanks for your help!**

[2020-08-09 15:00] BIAOXYZ commented on #9
@jinmingjian After my try, I am sure it's Okay now.

When click the link from official website (pls note that the link in README might also needs to be fixed):
![image](https://user-images.githubusercontent.com/6740021/89735198-64897880-da93-11ea-9415-a84da6713ead.png)

Actually I have already joined, thanks.
![image](https://user-images.githubusercontent.com/6740021/89735265-d5c92b80-da93-11ea-91

[2020-08-09 15:12] jinmingjian commented on #9
Yeah! Welcome to Base! :tada:

[2020-08-11 02:54] jinmingjian commented on #1
there is some problem to connect to docker hub. just wait for more requests.

[2020-08-11 03:35] jinmingjian commented on #1
it is possible to use [this extension](https://github.com/marketplace/actions/build-and-push-docker-images)

[2020-08-11 04:03] jinmingjian opened #10 "add storage layer"
- [ ] basic data layout and data partition design
- [ ] enable data write path
- [ ] add server client arch
    - [ ] add server
    - [ ] add client driver(rust)
    - [ ] change baseops to use client driver
    - [ ] change baseshell to use client driver
- [ ] basic stress tests and benchmarks

[2020-08-11 04:14] jinmingjian opened #11 "investigation to the potential compatibilities of client driver"
it may adapt to other existed clients to some extent when necessary:
clickhouse, [rdbc](https://github.com/tokio-rs/rdbc), odbc, jdbc, mysql, pg

[2020-08-16 07:20] #1 closed

[2020-09-03 13:25] waahm7 commented on #3
Hi, I would like to work on this issue. I am new to Rust and would love to get some mentorship.

[2020-09-03 15:15] jinmingjian commented on #3
Hi, @waahm7. Very appreciated for your interests.

1. Firstly, you may need to be familiar with the Rust. There are countless materials on the web. If you are nice at C like system language, I think the learning curve is straight. A little more recommendations for old-men-from-c-or-cpp-world: [Rust For Systems Programmers](https://github.com/nrc/r4cppp), [Rust Language Cheat Sheet](https://cheats.

[2020-09-03 16:59] waahm7 commented on #3
@jinmingjian Thanks a lot for providing helpful links. I tried to join the slack channel but it says this link is no longer active. Can you please give me a new link?

[2020-09-04 01:39] jinmingjian commented on #3
@waahm7 I am new to the slack:) It seems that the link has been expired. Sorry. Try [this link](https://join.slack.com/t/tensorbase/shared_invite/zt-h1uqloyu-DG6kMOEYedEIbakImUkvSA) and I've invited your gmail into the channel.

[2020-12-23 03:10] compasses commented on #9
so now it's not work again:
![image](https://user-images.githubusercontent.com/10161171/102954781-45a1f500-450f-11eb-9b64-97025a16956c.png)

maybe you can create a wechat group :)

[2020-12-23 07:42] jinmingjian commented on #9
@compasses thanks for reporting. Let me do a update!

[2020-12-23 08:24] jinmingjian commented on #9
update done!

[2020-12-23 08:24] #9 closed

[2021-01-07 02:16] sundy-li opened #13 "Support table function `numbers` and `numbers_mt`"
It's not an easy way to try `tensorbase`.

The Blog [Hello, Base](https://tensorbase.io/2020/08/04/hello-base.html) has some docs about `nyc_taxi` datasets benchmarks with ClickHouse. Yet the dataset is pretty large, it's hard for users to explorer `tensorbase` quickly.

Maybe we can implement some table functions like `numbers` or `number_mt` in ClickHouse.

[2021-01-07 05:23] jinmingjian commented on #13
good catch. though there is a tiny dataset (csv and bin) has been [shipped within the project](https://github.com/tensorbase/tensorbase/blob/master/samples)

[2021-01-07 05:34] jinmingjian commented on #13
"numbers" is a kind of "fake" table, so be as a built-in style.  It is easy to add some ad-hoc logic to make this change in [codegen](https://github.com/tensorbase/tensorbase/blob/66a55f7a306c63f14d33b3eacf1e7ab83b96a83b/crates/ir/src/codegen.rs#L32).

Do you think so?:)

[2021-01-08 02:07] jinmingjian commented on #13
I updated the [samples/README](https://github.com/tensorbase/tensorbase/tree/master/samples) for more infos to play with current Base.

[2021-01-08 02:35] sundy-li commented on #13
How to check if it's imported correctly, maybe we should add AggregateFunction `count()`...

[2021-01-08 04:40] jinmingjian commented on #13
Right. Now Base just supports sum agg. What you mentioned are just issue #2, issue #3 .

[2021-02-07 13:29] ramondeklein opened #15 "Status of this project?"
What is the status of this project? I only see an initial commit m0 and hardly any coding changes afterwards. Is this project terminated?

[2021-02-07 13:59] jinmingjian commented on #15
@ramondeklein  thanks for interesting. The project and website will be updated in recent week.

The plan is like this:

1. TensorBase Base Edition: this repo project of TensorBase will become TensorBase Base Edition. It is planned to provide a full Rust implementation in the Base edition, which will increase more engineering flexibility, lower latency and less performance (but still be faster than

[2021-03-18 03:59] jinmingjian commented on #15
the alpha site is out although the time is delayed a little:)

[2021-03-18 03:59] #15 closed

[2021-03-18 04:01] jinmingjian commented on #11
the problem fixed in TensorBase Frontier. this TensorBase repo is restarting as TensorBase BE.

[2021-03-18 04:01] #11 closed

[2021-03-18 04:01] jinmingjian commented on #10
the problem fixed in TensorBase Frontier. this TensorBase repo is restarting as TensorBase BE.

[2021-03-18 04:01] #10 closed

[2021-03-18 04:01] jinmingjian commented on #7
the problem fixed in TensorBase Frontier. this TensorBase repo is restarting as TensorBase BE.

[2021-03-18 04:01] #7 closed

[2021-03-18 04:01] jinmingjian commented on #8
this TensorBase repo is restarting as TensorBase BE.

[2021-03-18 04:01] #8 closed

[2021-03-18 04:01] jinmingjian commented on #6
the problem fixed in TensorBase Frontier. this TensorBase repo is restarting as TensorBase BE.

[2021-03-18 04:01] #6 closed

[2021-03-18 04:01] jinmingjian commented on #5
the problem fixed in TensorBase Frontier. this TensorBase repo is restarting as TensorBase BE.

[2021-03-18 04:01] #5 closed

[2021-03-18 04:02] jinmingjian commented on #3
the problem fixed in TensorBase Frontier. this TensorBase repo is restarting as TensorBase BE.

[2021-03-18 04:02] #3 closed

[2021-03-18 04:02] jinmingjian commented on #4
the problem fixed in TensorBase Frontier. this TensorBase repo is restarting as TensorBase BE.

[2021-03-18 04:02] #4 closed

[2021-03-18 04:02] jinmingjian commented on #2
the problem fixed in TensorBase Frontier. this TensorBase repo is restarting as TensorBase BE.

[2021-03-18 04:02] #2 closed

[2021-04-20 13:15] jinmingjian opened #18 "complete main type supports"
- [ ] LowCardinality String
- [ ] String/Blob
- [ ] Decimal
- [ ] several other fixed length types
- [ ] Nullable types

[2021-04-20 13:19] jinmingjian opened #19 "TPC-H Benchmarks Results"

[2021-04-21 09:16] jinmingjian opened #20 "more documents on kinds of components"

[2021-04-21 09:21] jinmingjian opened #21 "Distributing Query"
if uses DataFusion Ballista, this feature may be easily achieved. not sure who wants to try firstly:)

[2021-04-21 10:29] jinmingjian opened #22 "support string type"
part of #18

[2021-04-21 10:44] jinmingjian opened #23 "setup some github bots"
- [ ] github action for building
- [ ] github action for testing
- [ ] github action for coverage

[2021-04-21 11:56] jinmingjian opened #26 "support decimal type"
basically we have, just need some meta works + some tests  is enough:)

[2021-04-21 11:56] jinmingjian commented on #26
part of #18

[2021-04-21 23:10] jinmingjian opened #27 "timezone of DateTime are not correctly processed"
the logic in arrow/DF ignores timezone, but CH re-interpret the presentation according to the server's timezone.

[2021-04-21 23:24] jinmingjian opened #28 "re-enable ignore data-dependent tests"
via data-gen

[2021-04-22 00:41] jinmingjian opened #29 "vectorized hasher does not works for unmatched bytes"
a quick fix is using a 3rd party lib as slow path.

[2021-04-22 01:35] jinmingjian opened #30 "partition key not support string type field"

[2021-04-22 02:52] sirinath opened #31 "Joint a Foundation to Ensure Open Source Continuity"
Is it possible to consider joining a foundation to ensure opensource continuity. Since this is AL 2.0 perhaps ASF may be a good fit if you can be accepted, otherwise there are other foundation like the Linux Foundation, Cloud Native Foundation, etc. which you can approach.

[2021-04-22 03:05] #29 closed

[2021-04-22 03:25] jinmingjian commented on #31
@sirinath thanks for your suggestion!

The opensource continuity is guaranteed in the foreseeable time because we got the initial funding recently. It can be hoped that more people could join in the work when we proceed into next months.

From a long term, we also consider to join a foundation to help us and also help all the community to benefit from united forces. I am not sure now is the right

[2021-04-22 04:55] jinmingjian opened #32 "setup status badges for the project"

[2021-04-22 05:07] jinmingjian opened #33 "fix redundant compilation warnings"

[2021-04-22 11:44] jinmingjian commented on #23
a basic_check has been added which could as an example.

[2021-04-23 02:36] jinmingjian opened #35 "setup RFC(Request for Comments) Workflow"
It is planned to enable an RFC workflow to trace all the new features and major changes, to make sure all people in community know the progress and leave the document for further people joining.

We could simplify the format of RFC. Such as:

* Why
* How
* Todo

[2021-04-23 05:30] jinmingjian opened #36 "support float type"
generally, all support to fixed length type is easy to add. Just pick up one currently implemented type as an example:)

[2021-04-23 06:33] jinmingjian opened #37 "setup a release action"

[2021-04-23 06:34] #37 closed

[2021-04-23 06:44] GrapeBaBa opened #38 "build failed cause by wrong branch name"
[code]

[2021-04-23 06:49] GrapeBaBa opened #40 "build failed with `rustc --explain E0433`"
[code]

[2021-04-23 07:15] jinmingjian commented on #40
thanks for report! this anyhow compilation can resolved by using recent nightly. It is possible better to pin the toolchain version.

[2021-04-23 07:26] sundy-li opened #41 "link is really slow when building tensorbase"
Building tensorbase may cost 5 ~ 6 minutes for linking.

[code]

[2021-04-23 07:28] jinmingjian commented on #41
@sundy-li yes if release building may cause by [the lto opt](https://github.com/tensorbase/tensorbase/blob/main/Cargo.toml)

[2021-04-23 07:33] jinmingjian commented on #41
you can just leave the opt-level = 3 and remove others when developing. Let's do some performance tests to see if it is ok to relax this configs.

[2021-04-23 09:22] #41 closed

[2021-04-23 09:26] jinmingjian commented on #41
The performance degrade without lto is huge for complex aggregations(~30%).

lto='thin' seems as a balance, which is relatively fast and only incur 10-15% degradation.

[2021-04-23 13:45] #40 closed

[2021-04-23 13:48] #38 closed

[2021-04-23 15:47] meijies opened #42 "make test runnable for anyone with linux system."
+ test with absolute data path, which causes test failed for others.
   we should use relative data path or use /tmp directory which exists any linux system.
+ test with data which isn't exists at this repository.

[2021-04-23 23:15] jinmingjian commented on #42
yes. Issue #28 wants to solve this. Not sure you are interesting to help:)

There are hard coded early-phase tests (this is bad) when the functionalities are not fully available.

Data path is a basic config parameter for TensorBase because TensorBase are a persistence-first design. We do not repeat the CH's tons of engine designs. (You may give some thoughts why this is good or bad before we happ

[2021-04-24 07:36] meijies commented on #42
Yes, I think it's time to re-organize the test cases, I'm not very familiar with to rust and database, but I can do a try.

[2021-04-25 16:25] meijies commented on #42
even if the user don't specify the conf path, the server should be able to run with default conf. current the default conf load from ```env::current_exe()```/conf/base.conf, but ```env::current_exe``` is not fixed for diffreent cartes. which resulted in we have to put serveral simillar conf file to different cartes. so i think it's better to move conf file to  $BASE_ROOT$/conf. for developing, the

[2021-04-25 23:38] jinmingjian commented on #42
Hi, @meijies basically, your idea is great!

The current design has following concerns:

1. (Data Privacy) Do not write any data to user's disk silently.
    + This database side application, it definitely will write data to disks. So, It is better to let users to explicitly specify data writing locations. And currently we can run without conf does not mean that in the future we can run without co

[2021-04-26 02:17] jinmingjian commented on #26
there are still some works to make decimal type work.

0. Decimal is just Decimal(9,2) [in TB](https://github.com/tensorbase/tensorbase/blob/main/docs/lang.md#data-types). So it is just 32b integer with fixed point. The fix point info is just a part of type (schema of table) and stored in MetaStore.

1. to ensure data write path is open for Decimal type like other Int like type, mainly happens in

[2021-04-27 03:19] jinmingjian commented on #33
After today's PR, we have almost fixing all the default warnings.

Thanks for all the helps! Kudos for @DallasC !

[2021-04-27 03:19] #33 closed

[2021-04-29 00:52] jinmingjian opened #47 "Advanced Storage"
- [ ] primary keys and row deduplication

[2021-04-29 00:56] jinmingjian opened #48 "More Frontends"
- [ ] ClickHouse HTTP protocol support
- [ ] MySQL

[2021-04-29 01:03] jinmingjian opened #49 "Write Ahead Log"
TB now already survives from the application crash. it is nice to have a WAL to protect against the kernel crash or machine sudden shutdown.

[2021-04-29 09:04] dmitry-salin commented on #49
There is interesting [article](https://valyala.medium.com/wal-usage-looks-broken-in-modern-time-series-databases-b62a627ab704) from the creator of VictoriaMetrics database. ClickHouse added WAL support as part of [Polymorphic parts](https://github.com/ClickHouse/ClickHouse/pull/10697) work, but this is a configurable parameter.

[2021-04-29 10:59] jinmingjian commented on #49
@dmitry-salin thanks for your reference! It is interesting to see WAL can also cause some discussions. TB does not use the LSM. I am interesting to leave some thoughts after reading your references. It is a great opportunity to share some ideas to you and our community.

[2021-04-29 11:07] #26 closed

[2021-04-29 11:56] dmitry-salin commented on #49
Thanks @jinmingjian ! I Think that the good option might be the ability to change ingestion settings for any db instance or table. So if we want the best possible safety guarantees and are willing to pay for it with ingestion performance - every incoming data chunk can be persisted to disk. I also looked at [HSE](https://github.com/hse-project/hse), which is one of the newly created storage engine

[2021-04-29 11:57] jinmingjian commented on #49
I have quickly review your references:
1. the VictoriaMetrics's article is a bit exaggerating the problem of WAL. The modern SSD is absolutely affordable as least for WAL kinds.
2. for the OLAP system, we expect batch to come. You can test to insert one-row-by-one-row into ClickHouse, then watch the performance... So, if we are optimized for batch style data writing, the WAL implementation is quit

[2021-04-29 12:28] dmitry-salin commented on #49
1. Maybe you are right. I think that the main point of article is WAL as a separate data structure (which is a kind of write amplification).
2. Yes, ClickHouse is also optimized for relatively large batches, but in this default scenario it does not use WAL - compressed in-memory block is simply written to disk with DIO as it is.

[2021-04-29 12:37] jinmingjian commented on #49
Cool! We are seemly on the same line. :smile:  For your HSE, I will have a look.

Yes. And you said "the merge happens mainly in storage" is understandable. This also makes the I said OLTP ingestion(one-row-by-one-row) prohibitive for CH. The logic as I said belongs to OLAP. But CH's delayed merging behavior worsened the already heavy data movement on external storage. In the heavy bigdata ingesti

[2021-04-29 12:51] jinmingjian commented on #49
I have not well investigating the implementation of CH. But from the simple observation, this seems not hold because the common CH store file is not aligned to the block size (512 or 4k). And small size batches less than block size can not be DIO-ed obviously. DIO is not really good in performance, its best value is at the full control. So, it is not reasonable to use DIO blindly.

[2021-04-29 23:58] jinmingjian commented on #26
@DallasC really thanks for this fix. And this PR is also a great example to contribute to TB with a great feature.

[2021-04-30 13:38] jinmingjian commented on #23
action, a headache...:)

[2021-05-01 01:11] jinmingjian opened #53 "support FixedString type"
another fixed length type

[2021-05-01 03:25] jinmingjian opened #54 "support Date type"

[2021-05-01 07:58] jinmingjian opened #55 "partition pruning"
partition pruning based on the condition of partition key

[2021-05-01 11:56] jinmingjian opened #56 "dedicated mdbook for more documents"
Ref: https://github.com/rust-lang/mdBook

[2021-05-07 06:35] jinmingjian commented on #54
[Date in CH is 2B in length](https://clickhouse.tech/docs/en/sql-reference/data-types/date/). But in arrow it is Date32 4B.

we have 3 ways to solve this mismatch:
1. 2B -> 4B in writing
2. 2B ->4B in reading
3. add Date16 to arrow (preferred but verbose in that arrow engineering is verbose)

@DallasC

[2021-05-07 13:44] jinmingjian commented on #22
String type has been supported primarily. The main points are:
1. a write lock added for thread safety;
2. a new meta data about string offset also gen and store.
3. zero-copy enabled for string data. CH's wire format string has a varied length header which is not in the arrow string type. For simple reading out, this does not cause problem. But there are problems if computing on the string data.

[2021-05-07 13:47] jinmingjian opened #57 "support Nullable types"
part of #18

[2021-05-08 02:16] #54 closed

[2021-05-08 09:36] jinmingjian opened #61 "support Decimal32 and Decimal64 shortcut type"
Decimal32: Decimal(9,2)
Decimal64: Decimal(9,2)

more are here: https://clickhouse.tech/docs/en/sql-reference/data-types/decimal/

[2021-05-08 12:26] jinmingjian opened #62 "arrow does not support decimal kernel"
...

[2021-05-08 23:11] jinmingjian commented on #62
report to arrow-rs https://github.com/apache/arrow-rs/issues/272

[2021-05-08 23:33] #22 closed

[2021-05-09 10:19] #36 closed

[2021-05-09 14:34] chrisfw opened #64 "Issue encountered attempting to create a table prior to importing a CSV (additional documentation requested)"
Hello,

I am very interested in your project and I am attempting to begin testing it out.  However, the documentation for tools that exist in m0 does not seem to be accurate (baseops, baseshell).   Subsequently, attempting to use the clickhouse client to create a very simple table using ddl fails.  I am not sure what to use for ENGINE although it appears to be required and using MergeTree fails.

[2021-05-09 15:30] chrisfw commented on #64
Hi, I found the ENGINE in the screen video (BaseStorage), but it would definitely be helpful to explicitly document it.  Additionally, it would be good to document that the data type definitions are case sensitive, e.g. uint64 != UInt64 which causes the table creation to fail.

[2021-05-09 16:39] chrisfw opened #65 "Error inserting string value into table"
Hi, the documentation indicates that the string data type is supported, but attempting to insert a string into an existing tables fails with NoFixedSizeDataTypeError.

[code]
The same problem occurs with Decimal(x,y) data types.

[2021-05-09 23:02] jinmingjian commented on #64
@chrisfw sorry for inconvenience.  TB's iteration is fast. There are some missing and out-of-date documents.  In fact, in yesterday, TB (in current source) has got the TPC-H (quasi-)Q1 benchmak result. So, in the language level, TB is in good sharp now.

Are you using the binary in release page? The binary is a little out-of-date. Date type has been supported recently in source tree. I will enable

[2021-05-09 23:14] jinmingjian commented on #65
yes. this is because you are using a out-of-date binary. sorry for this inconvenience. I will let you know when the new binary available today.

[2021-05-10 07:12] jinmingjian commented on #53
this is not necessary for running TPC-H

[2021-05-10 07:13] jinmingjian commented on #19
[TPC-H Q1 result has been shown](https://github.com/tensorbase/benchmarks)

[2021-05-10 10:43] jinmingjian commented on #19
Just end this issue. For further improvements, we add dedicated issues.

[2021-05-10 11:39] chrisfw commented on #64
Hi Jin,

Thank you for your response and clarification.  I built from source and the
issue I reported has been resolved in my new binary.
FYI, one thing I noticed in the doc (
https://github.com/tensorbase/tensorbase/blob/main/docs/lang.md) that I
believe needs to be corrected.  I believe the order of Scale and Precision
have been reversed.

*Decimal You can use Decimal(P,S) format for further Dec

[2021-05-10 11:39] chrisfw commented on #65
Thank you Jin.  I will close both reported bugs.

Regards,
Chris

On Sun, May 9, 2021 at 7:14 PM Jin Mingjian ***@***.***>
wrote:

[2021-05-10 11:40] chrisfw commented on #64
Building from source corrected the reported issue.

[2021-05-10 11:41] #65 closed

[2021-05-10 11:45] jinmingjian commented on #64
P for Precision, is the number of digits in a number. S for Scale, is the number of digits to the right of the decimal point in a number.

In general, we would not make mistake. Because, we use this in TB data type, CH protocol and adapt to the DF data type...

[2021-05-10 13:28] chrisfw commented on #64
Apologies Jin, clearly I had my terms reversed.  Thanks for setting me straight.

[2021-05-11 11:18] jinmingjian commented on #23
thansk @leomikezee  for Dependabot

[2021-05-12 07:22] gcxfd opened #80 "能在release添加arm64和mac的发行版吗？方便尝试"
如题

[2021-05-12 08:36] jinmingjian commented on #80
@gcxfd 改了下标题：）

Currently we have no enough "resource"...

Arm64+mac, are you using M1？... Arm64 is possible, do you consider docker for mac?

[2021-05-12 15:20] chrisfw opened #81 "JDBC Driver Connection Times Out on Read"
@jinmingjian ,  Jin, I attempted to connect to the TB server using the Clickhouse JDBC driver (pulled in by DBeaver) on port 9528, but the connection attempt times out on the read.  I tried configuring the connection properties both with no Database/Schema specified as well as with **default**.  I also tried with the **No authentication** option set.  Below are screen captures illustrating the con

[2021-05-12 15:50] chrisfw commented on #81
@jinmingjian , I see now that I should have tested with the Native driver you linked as it is not the official one.  I will retest with that one.

[2021-05-12 15:50] #81 closed

[2021-05-12 17:17] chrisfw opened #82 "Clickhouse-Native-JDBC-Driver connection attempt throws Unsupported Client Version exception"
Utilizing the latest version of the Clickhouse-Native-JDBC driver available from Maven (2.5.4), I attempted to connect to TB, but an unsupported client version exception is thrown.

![clickhouse-native-driver-conn](https://user-images.githubusercontent.com/6135741/118016293-3b985b80-b323-11eb-8861-620ad25e3e1a.png)

![clickhouse-native-jdbc-error](https://user-images.githubusercontent.com/6135741/

[2021-05-12 23:28] jinmingjian commented on #81
@chrisfw thanks for reporting. You are right. The official JDBC driver is based on another HTTP protocol, which has not been supported by TensorBase now.

[2021-05-12 23:33] jinmingjian commented on #82
@chrisfw  thanks for reporting. Good catch! It seems jdbc client version is too high:)

[2021-05-13 02:34] leomikezee opened #83 "[RFC] Distributed Storage & Query"
## WHY
Currently, TensorBase only supports single node mode. A single node may not have enough space for all the data and we need to store them in a distributed manner. By introducing components like [Ballista](https://github.com/apache/arrow-datafusion/tree/master/ballista), we can enable TB to support distributed storage and query.

## HOW
Currently, a ClickHouse compatible SQL query will be par

[2021-05-13 07:21] jinmingjian commented on #83
@leomikezee  this RFC is cool! The composable engine is a great idea. And thanks for interests to this topic. Let's go and update this RFC as needed.

[2021-05-14 03:06] jinmingjian commented on #32
done

[2021-05-14 03:06] #32 closed

[2021-05-14 07:57] DallasC opened #84 "[RFC]Support Builtin functions with Datafusion"
The easiest way to support builtin functions seems to be by using [ScalarUDF](https://docs.rs/datafusion/4.0.0/datafusion/physical_plan/udf/struct.ScalarUDF.htmll) or [AggregateUDF](https://docs.rs/datafusion/4.0.0/datafusion/physical_plan/udaf/struct.AggregateUDF.html).

## Changes
To support this the following changes would have to be made

### `lightjit::builtins`
We have to convert the functio

[2021-05-14 08:50] jinmingjian commented on #84
@DallasC This is a great reading for current UDF additions. I promote this issue to RFC.  DataFusion in fact, has lots of builtins, but which are not same to those of ClickHouse in naming.

Could you add some alias builtins to allow ClickHouse to work without changes according to your proposed this RFC?

[2021-05-14 09:11] jinmingjian commented on #84
In the future, we may change this behaviors. Because the runtime cost for register UDF makes no much sense. It is ideal to enable preloading mechanism although this may need to change to DataFusion.

[2021-05-14 09:13] DallasC commented on #84
Yeah adding aliases would be easy I think. Datafusion currently just has some `math` and `string` functions so for things like `dates` and `intervals` we would have to use UDFs

All the functions are located at `arrow-datafusion/datafusion/src/physical_plan/functions.rs`. We just have to find out what ones differ from the [clickhouse functions](https://clickhouse.tech/docs/en/sql-reference/functio

[2021-05-14 15:06] DallasC commented on #84
I agree the extra runtime cost isn't ideal. I looked a little more but from what I can tell there isn't a way to preload  UDFs in DF currently.  I'm not sure how difficult this would be to add.

Adding the builtins directly to DF could be a short-term alternative without any performance drawbacks just to get Tpch fully running. It's pretty easy to do but a little verbose.

After we finish up tpch

[2021-05-14 19:59] chrisfw opened #85 "avg function fails against Decimal data type"
@jinmingjian  Hi Jin, Testing the average function works against a **UInt64**, but errors out against the **Decimal** data type.

[code]

[2021-05-14 20:07] chrisfw opened #86 "SQL Select on string field without limit clause hangs query"
Select statement on a string field with a set limit returns quickly, but without it hangs the query.

[code]

[2021-05-15 00:04] jinmingjian commented on #86
@chrisfw could you share some reproducible case/dataset? There are some bugs in result conversions which I have fixed recently (should in the last release's binary).

[2021-05-15 00:09] jinmingjian commented on #85
@chrisfw yes, this is just issue #62. The current workaround is to use float. We may push this work in near future.

[2021-05-15 11:24] chrisfw commented on #85
Closing as duplicate of #62

[2021-05-15 11:24] #85 closed

[2021-05-15 12:15] chrisfw commented on #86
@jinmingjian , I updated from the git repo and ran the server using `cargo run --bin server -- -c /root/tensorbase/conf/base.conf` and still reproduced the issue.  I have attached a zip file containing the table schema and dataset for reproducing the problem.  Please let me know if you need any additional information.

[issue86.zip](https://github.com/tensorbase/tensorbase/files/6486915/issue86.zi

[2021-05-15 12:17] jinmingjian commented on #86
@chrisfw thanks, let's do a check

[2021-05-16 00:22] jinmingjian commented on #86
@chrisfw comfirmed. In this case, TB has returned the right result. It seems a CH client bug or mixed at least. I proposed a workaround:

1. first, run a relative big query (but not too big...) like:
select Region from sales limit 100000

2. then run no-limit query, Region from sales:
select Region from sales

[2021-05-16 00:26] jinmingjian commented on #86
@chrisfw  you can enable a debug log output flag if you want to understand more of TB, to start server like this:

`bash
enable_dbg_log=1 cargo run --bin server -- -c path_to_your/base.conf
`

[2021-05-16 11:27] chrisfw commented on #86
@jinmingjian Thanks for confirming.  I did try the suggested workaround, but no luck.  I am just testing for you and don't actually require the functionality, so the workaround isn't essential for me.

Thanks for the instructions for debug logging, that is helpful.  I see as you mentioned that TB appears to complete the query execution and return the results to CH client.

[2021-05-16 12:07] jinmingjian commented on #86
@chrisfw very thanks for feedbacking at weekend. It works on my CH client:

![issue_86](https://user-images.githubusercontent.com/237573/118396358-d1b0e680-b681-11eb-8edb-6bfcce2c954d.png)

I guess this cause by too large return. But Arrow's RecordBatch has not provided a split like functionality. So do splitting is heavy. I will leave this bug for a while to have a look if we can have a better so

[2021-05-16 12:26] chrisfw commented on #86
@jinmingjian , no problem.  Sounds good.  I will continue exploratory TB testing and report any issues I find.  Going forward, please let me know if there are any specific areas you would like me to target for testing.

[2021-05-20 12:20] jinmingjian opened #90 "Compatible with ClickHouse HTTP Protocol"

[2021-05-20 14:07] Thysinner opened #91 "[piece-of-cake-this-week]Error while handling a SQL end with a semicolon"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)

With ClickHouse server and ClickHouse client:
[code]

[code]

### 3. What did you see instead (Required)

With TensorBase server and ClickHouse client:
[code]

[code]

### 4. What is your TensorBase version? (Required)

`version 2021.5.0 revision 54405`

[2021-05-20 14:08] ThySinner commented on #91
/assign

[2021-05-20 23:01] jinmingjian commented on #91
@ThySinner thanks for your good formal issue reporting! This could be seen a bug if we want to support multiple statements in one line. But if we only support a statement in console. This is just a style problem. I just leave this issue here to see if these is necessary for other users.

[2021-05-21 01:04] ThySinner commented on #91
We could lable the issue as a low priority.

[2021-05-21 01:54] jinmingjian opened #92 "Storage backend for AWS"

[2021-05-21 02:07] jinmingjian opened #93 "add a docker image"

[2021-05-21 06:18] Thysinner commented on #53
I found that the CH `FixedString` is just the same data type as Arrow `FixedSizeBinary` with a different name. So the simplest way might be to add an alias for the existed `FixedSizeBinary` type.

[2021-05-21 07:14] jinmingjian commented on #53
@Thysinner  Basically yes. TB has it own data type called BqlType. So there is no "alias" concept, strictly speaking. But you can show your codes. Any reasonable implementation is welcome.

[2021-05-21 13:08] jinmingjian opened #94 "support * wildcard in select"
Currently, we need specified column names to make sql work.

But it is easy to add support to:
1. select *
2. select count(*)

[2021-05-22 05:36] #94 closed

[2021-05-23 05:06] #61 closed

[2021-05-23 05:34] whjpji commented on #53
I think the main difference between TB's `FixedString` and Arrow's `FixedSizeBinary` is, that the `FixedString` type is a string which has its length and encoded data, but `FixedSizeBinary` is just raw bytes.

I'm considering such an implementation:

Decided by the max length of `FixedString`, the max length of corresponding `FixedSizeBinary` should be the maximum bytes needed to store its length

[2021-05-23 05:51] jinmingjian commented on #53
@whjpji thanks for your analysis!

this is not true. Because TB has no FixedString and this issue is trying to fix this. For TB's String, this saying is basically ok.(But this current layout of String may be temporary.)

So, the simple and enough way for FixedString, is just that mapping to Arrow's FixedSizeBinary. The length of FixedString is just a kind of meta which is stored in the schema.

A

[2021-05-23 06:25] whjpji commented on #53
Thanks @jinmingjian!

Consider there is a `FixedSring(10)` which has length `10`, and the user writes a string `"test"` to it. According to your discription, the stored data should be: `b"test\x00\x00\x00\x00\x00\x00"`, exactly 10 bytes.

In my understanding, when this `FixedString` is read and displayed to the user, it should also be `"test"` as same as it is inserted. However, from the metadata

[2021-05-23 06:39] jinmingjian commented on #53
@whjpji Yes. This is inherent from CH. So, it is better that we firstly implement it for the compatibility.

Furthermore, the display and its interpolation is not important. It is just a fixed string, which is **not** String. If you want String behavior, you just use String.

[2021-05-23 06:51] whjpji commented on #53
@jinmingjian Yes you are right, `FixedString` is not `String`.

I found the document of `FixedString` in CH [1]. It is coherent with you description. I'd like to have a try to implement `FixedString` using Arrow's `FixedSizeBinary`.

[1] https://clickhouse.tech/docs/en/sql-reference/data-types/fixedstring/

[2021-05-23 07:41] jinmingjian commented on #53
@whjpji Great! Let's start the prototype and see the outcome!

[2021-05-23 08:43] whjpji opened #98 "Type incoherent in comparison of `String` type with a string literal"
As I was implementing #53, I found an error that also occurred in `String` type.

After executing the following SQL,
[code]
I received this error,
[code]

After some analysis, I found TB's query is executed in DataFusion, and accidentally, `String` type in TB is translated to Arrow's `LargeUtf8`, but the string literal seems to be parsed as the type `Utf8`, which is incoherent with `LargeUtf8`.

Y

[2021-05-23 09:06] jinmingjian commented on #98
@whjpji thanks for your reporting. Yes. This is DF's problem. The best way is to make utf8 castable to largetuft8 or similar.

[2021-05-24 02:43] Thysinner commented on #53
@jinmingjian @whjpji  Seems there's a task conflict. I suggest that we could use a task assignment mechanism to avoid task conflicts. Otherwise, it is likely to waste time because multiple people are doing repetitive tasks.
For example, if someone is interested in an issue, he can invoke `assign` command and others will know the issue is already assigned. However, if an issue is critical, it shoul

[2021-05-24 02:50] Thysinner commented on #57
/assign

[2021-05-24 02:50] Thysinner commented on #57
/pick

[2021-05-24 02:51] jinmingjian commented on #53
@Thysinner thanks for your idea.

Most people shows interests but will not do coding. TB is opensource culture community. **For external contributors, it is not appropriate to assign tasks unless this been requested explicitly.**

The better way is that you show that you want to fix this issue in that issue. And everyone knows that you are working on this. Then they will try other issues.

[2021-05-24 02:52] Thysinner commented on #57
I'd like to pick this issue. Is it resolved now?

[2021-05-24 03:27] Thysinner commented on #53
I do mean this. However, I think it's my stupid mistake that I forgot to told that I am in the progress of this issue and it's almost done. 😁

[2021-05-24 04:36] jinmingjian commented on #57
@Thysinner thanks. No one resolve this. And this issue is a little non-trivial. :pray:

[2021-05-24 04:53] Thysinner commented on #57
What's your idea about the issue? It will be great if I could continue to make progress on the basis of your ideas.

[2021-05-24 04:58] jinmingjian commented on #57
@Thysinner I mean you may pick up issues by your understanding. There are many good-first-issues or help-wanted issues. However, if you understand this issue, it is still great to make it done. I will help you if you meet problem.

[2021-05-24 08:04] jinmingjian opened #103 "support DDL statement "desc table""

[2021-05-24 08:06] jinmingjian opened #104 "symbol ` for column identity not correctly escaped"
in TB now column_name is different to `column_name` in DDL, which is not consistent to common SQL I think.

[2021-05-24 08:13] jinmingjian opened #105 "DDL "truncate table" has some bug"
it may be good that we do it in "drop+create" in one transaction.

[2021-05-24 08:30] Thysinner commented on #57
Refer to https://clickhouse.tech/docs/en/sql-reference/data-types/nullable/, the Nullable wrapped data types are restricted. And I saw the TB grammar file has restricted the wrapped data types to simple type and decimal type. So could we assume that the Nullable wrapped data types in the meta data are always valid since the grammar file is forcing users to create valid Nullable columns?

[2021-05-24 08:38] Thysinner commented on #57
Otherwise, we will always need to check the wrapped data type like this
[code]
Which is ugly and likely to consume more CPU

[2021-05-24 08:40] jinmingjian commented on #57
@Thysinner this is not important for prototyping. Just sure a primary working PR. Then we can start from that.

[2021-05-24 09:28] Thysinner commented on #57
Thanks for the suggestion

[2021-05-24 09:42] jinmingjian opened #106 "engine does not accept database.table"
because TB now only use table name for registering.
1. change the query string
2. or, make database.table would be treated normally

[2021-05-24 09:56] jinmingjian opened #107 "allow trailing semicolon in sql statement"

[2021-05-24 23:18] #53 closed

[2021-05-25 11:09] jinmingjian opened #108 "Date and DateTime are not castable from utf8"
This should be the problem that TB has not enabled this conversion. It should be easy to fix. One similar is issue #98, but this is DF upstream problem.

[2021-05-25 11:33] jinmingjian opened #109 "support CH remote function"

[2021-05-25 23:06] jinmingjian commented on #108
insert into tt1 values ('2000-01-01')
select * from tt1 where a = '2000-01-01'

[2021-05-26 15:03] whjpji commented on #108
I got this error
[code]

It seems that we need to modify DF's code to support this feature?

[2021-05-26 17:25] asloan7 opened #110 "some grammatical improvements for Readme"
I have made some grammatical improvements for Readme in my fork

[2021-05-26 17:29] #110 closed

[2021-05-26 17:29] asloan7 commented on #110
put in pull request

[2021-05-26 22:49] jinmingjian commented on #108
Yes, Date and DateTime in TB is extended from DataFusion. Because these types are "non-standard" in Arrow spec. (Hint: For DataFusion's own Date, this query should work.)

[2021-05-26 22:53] jinmingjian commented on #110
@asloan7 thanks! And merged!

[2021-05-27 02:38] ives9638 opened #112 "Questions about PartsTreeStore"
hi @jinmingjian ，very interested

After learning the basic design and concepts of Part
original description ：
**"Copa (column partition): TB is columnar, so the partition is columnar, called CoPa (short for Column Partition). The data in CoPa is only appended and unordered."**

the question:
If the partition data is only appended and unordered, the read will be expanded, thereby reducing query eff

[2021-05-27 07:23] jinmingjian commented on #112
@ives9638 yes, you are right! You concerns will be solved soon in [this plan](https://github.com/tensorbase/tensorbase/blob/main/docs/summer_2021_ospp.md#summer-2021-of-open-source-promotion-plan).  The efficiency problem in fact also exists for LSM, and much worse. Base is out of the ruins of the past. I personally think this become the new paradigm of columnar storage. Furthermore, it would be g

[2021-05-27 07:27] jinmingjian commented on #112
We should have one RFC in some time recently. But you are interested in, we can discuss or start immediately. No need to wait any thing.

[2021-05-27 07:42] jinmingjian commented on #112
current implementation has great room to improve, but it is prepared to challenge the sky-high of OLAP.

[2021-05-31 06:38] jinmingjian commented on #105
The PR #113 is not correct and has been disabled... sorry

[2021-06-02 04:38] abhikjain360 commented on #103
Hi! I would like to work on this issue.

[2021-06-02 04:42] jinmingjian commented on #103
@abhikjain360 Abhik, really thanks for your interests! This issue is good for understanding how the schema and meta side things works. And I would like to provide any help if you want.

[2021-06-02 08:09] pymongo opened #114 "create table with Enum8 field failed"
I try to import this clickhouse sample data: <https://clickhouse.tech/docs/en/getting-started/example-datasets/cell-towers/>

But tensorbase failed to create table

[code]

## Extra information

- tensorbase_version: 2151c5d41e52633912515bb3393d36f2321c939f
- uname -a: Linux ww 5.12.2-1-MANJARO #1 SMP PREEMPT Fri May 7 17:53:15 UTC 2021 x86_64 GNU/Linux

[2021-06-02 09:28] abhikjain360 commented on #103
I wanted to confirm what all needs to be done.

I will first need to add ability to parse `desc table` in `lang` crate and then I will need to add function to run it in https://github.com/tensorbase/tensorbase/blob/main/crates/runtime/src/mgmt.rs#L189, and then finally ability to call it in https://github.com/tensorbase/tensorbase/blob/main/crates/runtime/src/mgmt.rs#L708 .
I am not missing any st

[2021-06-02 09:48] jinmingjian commented on #114
@pymongo very thanks for your reporting! Enum8 is one CH type that TB have not implemented. We may prefer the low cardinality string like. But before this implemented, it is good to make this Enum like type to work!

[2021-06-02 23:21] jinmingjian commented on #103
@abhikjain360 basically, yes. This command is relatively trivial.

From the view of CH, the output of ```desc table``` is a subset of ```show create table```, but **not the exact same**.

```desc table``` just shows the column names and types.

So, there are two ways for this command:
1.  extract infos from ```show create table```
2.  use [get_columns](https://github.com/tensorbase/tensorbase/blob

[2021-06-04 00:29] jinmingjian commented on #91
IMHO, this is easy to fix. Not sure if one want to have a try:)

[2021-06-04 03:37] pymongo opened #116 "more than 25000 lines change after cargo fmt"
My vscode and rust-analyzer setting is run `cargo fmt` after save

after fmt git diff is more than 25000 lines, Is tensorbase didn't `cargo fmt` for a long time?

[code]

When I try PR to tensorbase and fmt accidentally
cargo fmt cause more than 25000 lines and let tensorbase's reviewer hard to review PR(because too many lines change)

## My suggestions
1. make arrow-rs as a git submodule
2. exclu

[2021-06-04 03:43] pymongo opened #117 "INSERT failed if click clickhouse-client version >=21.5 without --compression arg"
I tried to cell_towers csv data from clickhouse <https://clickhouse.tech/docs/en/getting-started/example-datasets/cell-towers/>

I follower the step 5:

Here is my operation:

[code]

[2021-06-04 05:13] jinmingjian commented on #117
@pymongo ```FORMAT CSVWithNames``` is not welled tested.  One workaround is, to just remove the head line in that csv

[2021-06-04 05:16] jinmingjian commented on #116
@pymongo good idea! And thanks for this idea. I will check your idea recently. Remove out arrow-rs is in planning. And I will start this ASAP.

[2021-06-04 14:08] pymongo commented on #117
still got error when I execute `clickhouse-client --port 9528 --query "INSERT INTO cell_towers" < cell_towers_no_headers.csv`

[code]

[2021-06-05 00:40] jinmingjian commented on #117
@pymongo thanks for feedback, I will have a check late today

[2021-06-05 07:36] luluai-cn commented on #117
@pymongo can't reproduce , my steps:

1. new csv without header

2. import data from csv

3. query data from db

[2021-06-08 03:28] #103 closed

[2021-06-09 08:56] pymongo commented on #117
both my desktop(amd 5900X) and laptop can reproduce this problem when I insert cell_towers csv data.

Should I need a ubuntu OS to test this problem?

## tensorbase create cell_towers database and table
[code]

## the csv data file
(first 10 record from clickhouse's cell_towers sample)
[code]

## UnexpectedMessage When insert into csv data

[code]

## My Computer Information(screenfetch -n)
[code]

[2021-06-12 03:59] #91 closed

[2021-06-13 01:31] #105 closed

[2021-06-13 01:42] jinmingjian commented on #117
@pymongo I am also working with Linux jin-xeon 5.12.8-1-MANJARO. There is no problem for your 10-row sample. It will be interesting if AMD Ryzen 5 matters?...

[code]

[2021-06-13 10:44] jinmingjian commented on #42
we have made the tests runnable now. I close this issue for the long time inactive status. Thanks for all the discussion.

[2021-06-13 10:44] #42 closed

[2021-06-13 10:45] #112 closed

[2021-06-13 11:03] jinmingjian commented on #82
For today's investigation, the CH-Native-JDBC-Driver shows significantly different to other client's behavior. So, it is decided to implement a HTTP protocol support (in issue #90 ) rather than enable this 3rd-party driver. @chrisfw thanks for your testing help!

[2021-06-13 11:03] #82 closed

[2021-06-13 13:21] jinmingjian commented on #98
In fact, this problem is tricky. The largerutf8 and utf8 is castable, but not enable in the planner. And more TB' string is a little different to the Arrow's string. So, to solve this problem, we need two fixs in one...

[2021-06-13 13:58] #98 closed

[2021-06-14 02:45] jinmingjian opened #126 "support RBAC"
this will be done in some configuration file rather than DDL dialect in ClickHouse

[2021-06-14 03:27] jinmingjian opened #127 "support Materialized Views"
we want this.

[2021-06-14 03:30] jinmingjian commented on #117
@pymongo it is confirmed. The new client (>=21.5) has some trailing packets. The workaround is that to use the CH client of which version < 21.5. For example, [our repacked client in release page](https://github.com/tensorbase/tensorbase/releases/tag/v2021.06.14).

[2021-06-14 06:13] #108 closed

[2021-06-14 12:13] jinmingjian opened #130 "support ClickHouse built-in functions"

[2021-06-14 12:27] jinmingjian opened #131 "support CH functions for dates and times"
- [] toTimeZone
- [] toYear
- [] toQuarter
- [] toMonth
- [] toDayOfYear
- [] toDayOfMonth
- [] toDayOfWeek
- [] toHour
- [] toMinute
- [] toSecond
- [] toUnixTimestamp
- [] toStartOfYear
- [] toStartOfISOYear
- [] toStartOfQuarter
- [] toStartOfMonth
- [] toMonday
- [] toStartOfWeek(t[,mode])
- [] toStartOfDay
- [] toStartOfHour
- [] toStartOfMinute
- [] toStartOfFiveMinute
- [] toStartOfTenMinut

[2021-06-15 05:15] luluai-cn opened #132 "support CH functions for math #132"
- [ ]  e()
- [ ]  pi()
- [ ]  exp()
- [ ]  exp(x)
- [ ]  log(x), ln(x)
- [ ]  exp2(x)
- [ ]  log2(x)
- [ ]  exp10(x)
- [ ]  log10(x)
- [ ]  sqrt(x)
- [ ]  cbrt(x)
- [ ]  erf(x)
- [ ]  erfc(x)
- [ ]  lgamma(x)
- [ ]  tgamma(x)
- [ ]  sin(x)
- [ ]  cos(x)
- [ ]  tan(x)
- [ ]  asin(x)
- [ ]  acos(x)
- [ ]  atan(x)
- [ ]  pow(x, y), power(x, y)
- [ ]  intExp2
- [ ]  intExp10
- [ ]  cosh()
- [ ]  acosh

[2021-06-15 05:30] luluai-cn opened #133 "support CH functions for String"
- [ ] empty
- [ ] notEmpty
- [ ] length
- [ ] lengthUTF8
- [ ] char_length, CHAR_LENGTH
- [ ] character_length, CHARACTER_LENGTH
- [ ] lower, lcase
- [ ] upper, ucase
- [ ] lowerUTF8
- [ ] upperUTF8
- [ ] isValidUTF8
- [ ] toValidUTF8
- [ ] CopytoValidUTF8(input_string)
- [ ] repeat
- [ ] reverse
- [ ] reverseUTF8
- [ ] format(pattern, s0, s1, …)
- [ ] concat
- [ ] concatAssumeInjective
- [ ] subs

[2021-06-15 11:05] jinmingjian commented on #132
@luluai-cn thanks for collection

[2021-06-15 11:05] jinmingjian commented on #133
@luluai-cn thanks for collection

[2021-06-16 13:53] whjpji commented on #130
I found some already defined built-in functions such as `toYYYY`, `date_toYYYY` etc. in the `lightjit` crate.

However, when I would like to try one of it according to the example given by the document in `docs/lang.md`, I got this error from the server:
[code]
It seemed that DF had not recognized this function. Shouldn't this function be handled by the JIT?

If I'd like to implement some built-in

[2021-06-16 14:01] jinmingjian commented on #130
@whjpji hi, Frank, cool! Current JIT is used to weave the function into runtime. But these functions are pre-compiled from the base crate. So, if you want to link this function into A-DF, you do not need to verify anything. They are just regular function in base crate.

The problem is to how to link the TB base to DF.  I will soon move the A-DF into the workspace. Then this problem will be solved

[2021-06-16 14:08] jinmingjian commented on #130
@whjpji I submit a PR #134 for this merge.

[2021-06-16 14:25] jinmingjian commented on #130
@whjpji merge done. Try as your pleasure!

[2021-06-18 13:07] whjpji commented on #130
After A-DF was involved into the workspace, I recompiled the code and retried `SELECT toYYYYMMDD(1620797481)` statement, but still got the same error.

Then I read the code, and found built-in functions seemed not to be handled by the `lightjit`, but were directly sent to DF for query. Currently the built-in functions are only handled when writing data into TB.

After that, I had another try:
[cod

[2021-06-18 14:04] jinmingjian commented on #130
@whjpji your observation is right. These built-in functions in TB are not relative to built-in functions in DF. What do we need to do is to make a new built-in function in DF to call into the correspoding built-in function in TB. That's fine. @DallasC has an example of to_date() on this at PR #88. I will also make some examples in this week.

[2021-06-20 01:03] jinmingjian opened #141 "[Roadmap]Base Space Station"
In BSS(Base Space Station), we track all planned issues for community's awareness.

[2021-06-20 10:00] jinmingjian opened #142 "make TB TPC-H Q1 faster than CH"

[2021-06-20 10:04] jinmingjian opened #143 "tuning TB Quick Benchmarks faster than CH"
As first step, it is good to make our [quick benchmarks](https://github.com/tensorbase/benchmarks/blob/main/quick.md) faster.

[2021-06-22 13:59] jinmingjian commented on #130
I have implemented the toYear.  Orz, it is easy. I am in perf tuning for #143. Some people on this may choose other functions.

[2021-06-23 09:40] whjpji commented on #130
Thanks @jinmingjian ! It's a good example and I'd like to try implementing other built-in functions.

[2021-06-23 11:22] jinmingjian commented on #130
@whjpji great to hear this from you! Waiting for you in the community! Let's rocks :guitar:

[2021-06-24 12:14] pymongo commented on #117
for clickhouse-client(>=21.5)  need to add compression arg `clickhouse-client --compression true`

client need compression arg to let tensorbase's server parse success

[2021-06-24 13:04] jinmingjian opened #147 "[summer2021]Adaptive Columnar Storage"
- [ ] #47
- [ ] #49
- [ ] #55

[2021-06-24 13:06] jinmingjian opened #148 "[summer2021]Distributed Storage & Query"
- [ ] #21

[2021-06-24 13:07] jinmingjian opened #149 "[summer2021]Top Performance MySQL Protocol Server in Rust"
- [ ] #48

[2021-06-24 13:08] jinmingjian opened #150 "[summer2021]Top Performance ClickHouse HTTP Protocol Server in Rust"
- [ ] #48

[2021-06-24 13:10] jinmingjian opened #151 "[summer2021]Systematic Enhancement to Apache Arrow and DataFusion"
- [ ] #142
- [ ] #62

[2021-06-24 13:44] jinmingjian commented on #117
@pymongo Cool discovery! I have not investigated the detail problem.  If we enable the compression flag, could your csv case pass successfully?

[2021-06-25 01:18] jinmingjian opened #152 "support INSERT INTO .. SELECT"
a (compound) command to make reads and then writes in server side

[2021-06-25 01:36] jinmingjian commented on #117
It is confirmed that the compression flag has been changed to false. And this is interesting to show that our logic for raw packet has problem.

[2021-06-25 01:37] pymongo commented on #117
Yes, ClickHouse client version 21.6.5.37 with compression arg insert csv data successfully!

I suggest to add `clickhouse-client version >=21.5 need --compression=true flag` to docuemnt get_started_users.md until this bug was fixed?

[2021-06-25 01:38] jinmingjian commented on #117
@pymongo  nice!  Can you submit a doc PR for this? :heart:

[2021-06-25 04:24] whjpji commented on #130
I have a little concern. We are adding CH functions directly into DF, but it might bring two problems:
1. DF's functions is case-insensitive, but CH's is case-sensitive, it might be a conflict.
2. In the future there will be another front-ends like MySQL, etc., how to deal with the functions from different front-ends or protocols? Currently CH functions and DF functions are mixed up together.

[2021-06-25 04:57] jinmingjian commented on #130
@whjpji good question!

for 1, we just let them alone. We resolve them when conflicts happen.

for 2, we only support one style of SQL syntax, that is CH SQL dialect based.  So in MySQL client, you still send same functions into TB server. Note the function validations are done in server in TB, CH, and assumed for MySQL. If this is not, then MySQL is stupid... I think it should not.

[2021-06-25 04:58] jinmingjian commented on #130
or you have more great idea about this?:)

[2021-06-25 06:53] whjpji commented on #130
On a basic understanding of DF, I have an idea. As you can see in the code fragments [1]
[code]
How about adding such lines like
[code]
before line [2]. In the future, when we add more frontends or protocols, which may have different functions from clickhouse, can be handled in a similar way of adding matters like `functions::mysql::BuiltInScalarFunction` etc.

Then these two problems

can be solv

[2021-06-25 07:05] jinmingjian commented on #130
@whjpji your idea is great!

I am used to think this side of refactoring for more decoupling. My primary feeling is the BuiltinScalarFunction is or maybe strongly coupled to planner and further SQL optimizations in Datafusion. So, it may be not enough to only change to this location.

But I encourage you to give some exploring on this and try a new PR. If it is confirmed that there is no problem o

[2021-06-25 09:09] GrapeBaBa commented on #49
any progress for this task?

[2021-06-25 10:59] jinmingjian commented on #49
@GrapeBaBa this is not too hard. But still no one works on this. Personally, I hope it could be resolved recently or at least in this summer. Do you have interests on this?:)

[2021-06-25 11:09] aeroaks commented on #93
What is the scope or the intended outcome?

[2021-06-25 11:29] jinmingjian commented on #93
@aeroaks thanks for coming and interesting! This issue just hopes to setup a docker file, then to allow to generate the docker image on some place(docker hub) via a CI action. In fact, you can just download the binary. But for some lazy boys, a docker image may be easier or a little better portable.

[2021-06-25 11:58] jinmingjian commented on #93
@aeroaks I added [a docker file](https://github.com/tensorbase/tensorbase/blob/main/project/Dockerfile) just now:) But it needs some validations!

[2021-06-26 06:14] GrapeBaBa commented on #49
Have you done some design for wal such as wal record data format, wal file format, storage(e.g.mmap, bufferedio), concurrency control?

[2021-06-26 07:44] jinmingjian commented on #49
Great! You can give out your design. Yes, I have some ideas. We do not couple current wal to with other techniques. It is a just pure local wal for machine level crashing. Wait for a while, let me upgrade this to a RFC to attach some more details.

[2021-06-26 12:02] GrapeBaBa commented on #49
That's great.

[2021-06-26 12:10] #117 closed

[2021-06-26 12:12] pandaplusplus commented on #152
@jinmingjian Can I try it? It should be more easy to fly.

[2021-06-26 12:15] jinmingjian commented on #152
@pandaplusplus yeah! This is great for generating a striped table from a big table in cmd shell. If any problem, we will help you!

Thanks for your great contribution!

[2021-06-27 02:12] jinmingjian commented on #83
I temporarily take over this issue. We want this to be resolved in this summer.

[2021-06-28 03:08] whjpji commented on #131
Here is a supporting plan based on the [Documentation of ClickHouse Dates and Times function](https://clickhouse.tech/docs/en/sql-reference/functions/date-time-functions/#timeslotsstarttime-duration-size).

1. First the most common date/time converting functions without timezone:
- [x] toYear
- [x] toQuarter
- [x] toMonth
- [x] toDayOfYear
- [x] toDayOfMonth
- [x] toDayOfWeek
- [x] toHour
- [x] to

[2021-06-28 03:26] jinmingjian commented on #131
@whjpji thanks for detail sketch!
Timezone is important. In fact, all date/time functions in CH are timezone-aware explicitly or implicitly. The timestamp itself is UTC based, but the interpretation to ts is the server's timezone based, at least for CH.  This means, a query to same physical data will return different results if the server' tz is different.

If you are interesting to figure out a b

[2021-06-28 03:38] whjpji commented on #131
@jinmingjian Yes I agree with you that timezone is important. Actually I often meet the timezone related issues when doing CRUD.

Let me see how TB and DF handles timezone, and I may adjust the priority of the support plans.

[2021-06-28 03:46] jinmingjian commented on #131
@whjpji great, let me know if any problem.

[2021-06-28 09:44] #152 closed

[2021-06-28 11:02] jinmingjian opened #158 "support CAST expression"
CAST expression: CAST(x AS t) is supported by DataFusion. But because (parsing and) type mismatching between DF and TB. Now the functionality can not work:

[code]

[more docs from CH](https://clickhouse.tech/docs/en/sql-reference/functions/type-conversion-functions/#type_conversion_function-cast)

[2021-06-28 11:46] jinmingjian opened #159 "move to_date out from mix-up in DataFusion"
In #88, we mix to_date function impl into DataFusion. After #154, we have [dedicated CH mod](https://github.com/tensorbase/tensorbase/blob/main/crates/datafusion/src/physical_plan/clickhouse.rs). It is better to move to_date impl as ToDate in that mod.

[2021-06-28 13:45] pandaplusplus commented on #158
Do a simple test on the latest version in DF that seems to only support it:

`select sum(cast(a as int)) from test_tab`,

 there is an [issue](https://github.com/apache/arrow-datafusion/issues/81) about that, but only explicit casts between UINT and INT. Do you want to add a completed feature about type explicit casts? @jinmingjian

[2021-06-28 13:55] jinmingjian commented on #158
@pandaplusplus thanks for pointing. I have not investigate deeply on this. My idea here is to allow up-cast cases: like Int32 to Int64. The Int64 in TB is named BIGINT in DF.  So this testcase can not pass.

For the future, we may help DataFusion on that general issue. Finally, TensorBase and DataFusion are one community. We will want to help them when we can help.

[2021-06-28 14:11] pandaplusplus commented on #158
I see, Let me work it out.

[2021-06-29 02:40] pymongo commented on #116
I notice `Note: Recently, we [enforce code style via ```cargo fmt```](https://github.com/tensorbase/tensorbase/blob/main/docs/CONTRIBUTING.md#code-style).` was add to README.

But cargo fmt still has 70 lines change after this commit https://github.com/tensorbase/tensorbase/commit/47721db6c7fe514269746275e8bfce8dc00cc4df

[code]

[2021-06-29 02:46] jinmingjian commented on #116
@pymongo thanks for reporting. Does the version of rustfmt affect this? I have not such problem.

[2021-06-29 02:48] jinmingjian commented on #116
I forgot this issue, it is interesting to see ```cargo fmt``` are tracked here:)

[2021-06-29 03:04] jinmingjian commented on #116
@pymongo confirmed. I am using the rustfmt 2.0 nightly. The behavior is different to that of rustup's 1.4.37. I will correct the source to the rustup's version.

[2021-06-29 03:34] #116 closed

[2021-06-29 07:28] whjpji commented on #27
Have read the documentation of CH [1], I found that the default timezone of a CH server is configurable. Has TB supported this yet? If yes, we might need to consider how to pass this parameter to DF.

Another question, from [2] we know that `DateTime` in CH also supports an optional timezone. The next step might be to enable timezone support `BqlType`. There will also be some refactors of the CH d

[2021-06-29 08:29] jinmingjian commented on #27
ok, nice summary! All we want to have:)

We have auto-discovered default tz in mgmt.rs which is easy to extend a configurable option in conf.  But this is not high priority. I list the tasks in a priority (welcome to add or recorrect):

priority high:
* correct process date/time functions with default tz (in this, we figure out a good way to handle the tz in TB)
* DateTime with tz in meta
* date/t

[2021-06-29 11:50] #158 closed

[2021-06-29 12:18] jinmingjian commented on #158
@pandaplusplus @whjpji @pymongo  thanks to all of your helps, Base have made rapid progress in many aspects recently! :rocket: :100: :pray:

In this summer, several students will join our community. I will update a more detailed road map in the near future. I also hope that everyone can help these students.

The completion of the summer milestone means that Base has a good shape and can better ser

[2021-06-29 13:43] pandaplusplus commented on #159
I will fix it.

[2021-06-29 14:03] jinmingjian commented on #159
@pandaplusplus thanks! No rush! Have a good night!

[2021-06-29 14:37] jinmingjian commented on #90
close in favor of #150

[2021-06-29 14:37] #90 closed

[2021-06-30 04:06] pandaplusplus commented on #158
@jinmingjian Great! I love it when people help each other and see the Base community grow, it will be a very meaningful thing.

[2021-06-30 06:11] whjpji commented on #27
To support the default tz detected by TB, we should correctly pass the tz configuration to DF right, I think. And that might be the first thing to do. Then in the future, when we are planning to support configurable tz in conf, its easy to modify only the tz detecting process `mgmt.rs` to achieve this.

[2021-06-30 10:18] jinmingjian commented on #27
@whjpji right. The main thing is how to make DF operations tz aware.

[2021-06-30 15:13] whjpji commented on #27
@jinmingjian I got stuck, could you please give me some advises about how to represent the default tz in DF?

Should I pass the default tz via a default catalog or schema into DF? I'm afraid this might bring extra cost if the engine rapidly access this parameter when doing query.

Another way might be using a `SyncOnceCell` in DF and passing the tz into DF at the initialization of TB, but I'm afra

[2021-07-01 00:59] jinmingjian commented on #27
@whjpji thanks for your exploring. For your passing problem, this is unimportant for whole big task.

What we should figure out this how or does A-DF correctly process the tz info? This answer is important, in that I see rare tz handling logic in A-DF. Another talking, for example, is [this one recent issue in Arrow](https://github.com/apache/arrow-rs/issues/500). If A-DF does not respect the tz w

[2021-07-01 01:13] jinmingjian commented on #27
@whjpji  more thoughts:
to correctly support the tz is not hard. A tz offset is enough. The question is just mentioned above: do we need an extra tz offset parameter everywhere? For our TB own builitins, we can support an offset parameter. But the question is just mentioned above as well: If A-DF can handling this tz correctly, we just follow the A-DF convention.

[2021-07-01 12:08] whjpji commented on #27
@jinmingjian I agree with you. My mind graph is "pass tz to DF, and then make DF handle tz right", so the first thing came up with my mind was "pass tz to DF". However the latter thing is more important, so my thoughts were too straight.

I will read codes of A-DF more carefully and do some experiments on it, to find out whether it can handle the tz right, and if yes, then how.

[2021-07-02 06:33] whjpji commented on #27
@jinmingjian Unfortunately, arrow does not support tz yet. The codes show that:

- from [1] and [2], all date/time types only support to be accessed as a naive date/time type, which ignores tz;
- from [3], when extracting hours/minutes/seconds etc., all tz is ignored;
- from [4], when taking values from date/time-typed arrays, tz is ignored too. And here is an open issue of arrow-rs https://github

[2021-07-02 07:03] whjpji commented on #27
Oh, my last comment seemed to talk about another question: arrow does not support tz in date/time types.

Return back to our original question: how to make arrow support a global tz offset based on the server's tz or in the future the tz conf from the configuration file.

To make TB compatible with CH, not only the tz in date/time types should not be ignored, but also there should be a global tz o

[2021-07-02 12:18] jinmingjian commented on #27
@whjpji If you confirm that A-DF does not support tz, I suggest we firstly try to patch the planner side.

Patch the TB own Timestamp32 firstly: if we meet a Timestamp32, we patch that column with +/- global tz offset from mgnt as an expression. How do you think so?:)

[2021-07-02 13:16] jinmingjian commented on #27
@whjpji correct: you can not use tz from mgnt, otherwise there is an inter-dependence. You setup a global tz in DF, and sync mgnt's tz to that in DF at boot or some time.

[2021-07-02 14:39] whjpji commented on #27
@jinmingjian I have confirmed that A-DF does not support tz. First by default, my timezone is Etc/GMT+8 (Asia/Shanghai), and I create a table and insert a timestamp into it:

[code]

Then I set my timezone to Etc/GMT-5 (America/Los_Angeles), and requery the timestamp
[code]
I got the same answer. However, the timestamp displayed should vary with different server timezones, which is not expected CH

[2021-07-02 15:04] jinmingjian commented on #27
@whjpji if my idea is established, you can tweak the Timestamp32(Option<String>) -> Timestamp32(Option<Int32>) something like for performance, because it is not necessary to parse the offset from string for every function call.

[2021-07-02 15:36] whjpji commented on #27
@jinmingjian Thanks for your correction, I didn't know that `Timestamp32` is new added by TB.

1. for the first question,

I agree with you, and we can tweek the `Timestamp32(None)` to be `Timestamp32(Some(tz))` in the column type's metadata during the preparation of the schemes before query, where `tz` is the default tz provided by TB.

2. for the second question,

I think it is not enough to sto

[2021-07-02 15:47] whjpji commented on #27
But there is still a problem. If no tz specified when inserting into a table (named `A`) and the column's type also has no tz, CH/TB should re-interpret the time with a default tz (saying GMT-8) of the server.

But if the server restarted with the tz changed (saying GMT+5), should the timestamp stored in `A` be interpreted as time with tz of GMT+5 or GMT-8?

If the tz interpretation changed as the

[2021-07-03 00:41] jinmingjian commented on #27
@whjpji all considerations are great! It is not necessary to keep 100% same to CH, but keep possible compatibility still wanted.

yeah, try it.

if the column's (A's) type also has no tz, the timestamp stored in A be interpreted as time with tz of GMT+5 in kinds of datetime calculations, but the timestamp itself is always unix timestamp/epoch [in CH](https://clickhouse.tech/docs/en/sql-reference/d

[2021-07-03 07:59] jinmingjian commented on #48
I just close this for favoring dedicated issues under the summer 2021.

[2021-07-03 07:59] #48 closed

[2021-07-03 08:12] jinmingjian opened #165 "improve observability"
add extensible metric subsystem

[2021-07-03 08:30] jinmingjian commented on #21
close for favor #148

[2021-07-03 08:30] #21 closed

[2021-07-03 08:50] jinmingjian commented on #47
close with favor of #147

[2021-07-03 08:50] #47 closed

[2021-07-04 12:01] lispking opened #169 "Error compiling the master branch on macOS Catalina"
% rustc --version
rustc 1.55.0-nightly (e6b4c252e 2021-06-25)

% cargo --version
cargo 1.55.0-nightly (9233aa06c 2021-06-22)

% cargo check
....
error[E0425]: cannot find function `mremap` in crate `libc`
   --> crates/base/src/mmap.rs:28:30
    |
28  |       let ret = unsafe { libc::mremap(addr, old_size, new_size, libc::MREMAP_MAYMOVE) };
    |                                ^^^^^^ help: a funct

[2021-07-04 12:03] jinmingjian commented on #169
@lispking this is just the issue #80

[2021-07-04 12:04] lispking commented on #80
2.5 GHz Intel Core i5

[2021-07-04 12:07] jinmingjian commented on #169
we have no enough resource to support other platforms beyond Linux. If you know how to work with docker in your macos, then it is ok to build in a docker env.

[2021-07-04 12:08] jinmingjian commented on #169
ok, I close this for favor #80

[2021-07-04 12:08] #169 closed

[2021-07-05 02:15] jinmingjian commented on #27
We have committed a primary solution in #166. This makes the timezone behavior of TB compatible with that of CH. This behavior may be improved in the future. For now, I just close this issue.

[2021-07-05 02:15] #27 closed

[2021-07-05 02:30] jinmingjian commented on #84
We now use a hooking way to provide Base customized builtins in Datafusion introduced with #154. The method is a little intrusive but simpler and faster. I close this issue. If there are more problem, we track them in other issues.  Finally, thanks @DallasC for such great RFC!

[2021-07-05 02:30] #84 closed

[2021-07-05 05:23] nautaa commented on #49
The data in tensorbase is directly flush to disk, is the purpose of wal to ensure the atomicity of writing data?
Is it possible to write a block to the log area on the disk first, and then write the block to the corresponding partition? It is similar to mysql double write?
@jinmingjian

[2021-07-05 05:45] jinmingjian commented on #49
@nautaa yeah. "Double write" is easy. You should carefully implement a recovery processing to reuse some mark in meta store.

[2021-07-05 09:17] jinmingjian opened #172 "parser not support boolean-valued functions"
[code]

the workaround is to use a bool expr:
[code]

[2021-07-05 09:20] jinmingjian commented on #172
@luluai-cn not sure if you'd like to continue on this issue after partial works in PR #164 merged:)

[2021-07-05 13:25] jinmingjian commented on #159
it seems we have solved this issue in #173 !

[2021-07-05 13:25] #159 closed

[2021-07-05 13:30] pandaplusplus commented on #149
What is the minimum version of MySQL/MariaDB we plan to support?  I can try to initial a demo to run it.

[2021-07-05 13:38] pandaplusplus commented on #165
Is this issue expected to be able to display the time or scope of the query like CH?

[2021-07-05 13:39] jinmingjian commented on #149
This is a topic of [summer 2021](https://github.com/tensorbase/tensorbase/blob/main/docs/summer_2021_ospp.md). If you are interesting, I invite you become a co-mentor for the student of this topic.

I have committed [a crate to be as the protocol server](https://github.com/tensorbase/tensorbase/tree/main/crates/server_mysql). This is a fixed version for a popular mysql protocol server.

[2021-07-05 13:48] jinmingjian commented on #165
it likes the CH's ```system``` database, we write key infos about warehousing system into these tables for query.

[2021-07-06 09:36] GrapeBaBa commented on #49
What is the progress for RFC? @jinmingjian

[2021-07-06 10:34] jinmingjian commented on #49
@GrapeBaBa thanks for concerning. After thoughts, I decided that this issue is a little trick. I postpone this issue to the later of #147. The good news is that the summer 2021 is coming... :smile:

[2021-07-08 05:44] jinmingjian opened #182 "support Array type"
the [CH array type](https://clickhouse.tech/docs/en/sql-reference/data-types/array/) is nice to have

[2021-07-08 15:50] whjpji opened #183 "The server panics on existing `/tmp/tb_data` and `/tmp/tb_schema`"
I recompiled TB today and ran the server, and it paniced.
[code]

After removing the two directories and creating new ones, it ran successfully.

Since it happened in the `Mgmt::from_conf`, I think it is probably related to the directory creating process.

[2021-07-08 23:57] jinmingjian commented on #183
@whjpji early panics is wanted if prerequisite can not be reached. But for your case, it said ```OpenError``` (this err message need improved). There are several reasons for this:
1. permission for dir/file; (not likely)
2. meta/schema broken;
3. changes to source causes the problem;
4. soft bug causes the problem;
Can you provide original schema and/or data info? It is better to copy the original

[2021-07-09 00:04] whjpji commented on #183
[tb_schema_with_data.tar.gz](https://github.com/tensorbase/tensorbase/files/6787835/tb_schema_with_data.tar.gz)

@jinmingjian Here is the original schema and data info.

[2021-07-09 00:19] jinmingjian commented on #183
Your meta works for me!
[code]

It is confirmed that the issue can not be reproduced. I close this issue if no problem.

[2021-07-09 00:19] #183 closed

[2021-07-09 13:23] jinmingjian opened #188 "Partial Privacy Data Analysis"
it is interesting that if we provide some foundations to enable partial privacy in the bigdata analysis, considering the FHE is too expensive.

[2021-07-11 01:41] pymongo opened #191 "compile error: the trait bound `u64: ToUsize` is not satisfied on raspberry pi(armv7-unknown-linux-gnueabihf)"
toolchains: nightly-2021-06-26-armv7-unknown-linux-gnueabihf

[code]

ARM 32 bit CPU usize is u32, can not convert a u64 to a usize(u32) on 32-bit CPU!

other difference between ARM 32bit and x86_64:
- libc::time_t: i32
- libc::c_long: i32
- libc::c_char: u8 (on x86_64 is i8)

tasks list to support ARM or 32-bit CPU:
- [ ] solve all usize::from(u64) code
- [ ] use cfg to detect cpu arch, enhance a

[2021-07-11 01:50] jinmingjian commented on #191
@pymongo very thanks for trying to build on ARM. I personally think there are some trivial works for ARM64 in that I have no hardware to test till now.

For your this issue, the crate ```server_mysql``` is a new comer, and not well investigated. In the future, we will align to modern 64bit processors as tier1 hardware. However, if we can help for other 32bit platform, it is still welcome! Could yo

[2021-07-11 02:13] pymongo commented on #191
The `std::arch::x86_64::_mm_crc32_u64` function is not found on ARM

https://github.com/tensorbase/tensorbase/blob/7b3722723c6e01cb9b90b117b1be96ad7d419bdc/crates/base/src/hash.rs#L12-L16

[2021-07-11 02:43] jinmingjian commented on #191
@pymongo there is [a workaround here at riscv branch](https://github.com/tensorbase/tensorbase/blob/riscv/crates/base/src/hash.rs). You can have this in your testing, to see if it is ok to clear the building.

[2021-07-11 13:30] jinmingjian commented on #172
@ygf11 fixs this issue in #192! Thanks for your help!  :tada:

[2021-07-11 13:30] #172 closed

[2021-07-14 14:13] jinmingjian opened #198 "introduce DBC(Design By Contract)"
To well guard the engineering and performance aspects of TensorBase, I will recommend some DBC utils in base to make TB more solid!

[2021-07-15 06:41] jinmingjian commented on #198
A simple contact API was introduced in 29154f281b004b781c30b2d111e18b60decec478. The test shows [a great example](https://github.com/tensorbase/tensorbase/blob/29154f281b004b781c30b2d111e18b60decec478/crates/base/src/contract.rs#L10).

[2021-07-15 06:41] #198 closed

[2021-07-17 07:00] chenyukang commented on #107
Let me have a try, do you have any references for this?

[2021-07-17 08:11] jinmingjian commented on #107
@chenyukang thanks for interesting. Basically, this has been demonstrated in [bql.pest](https://github.com/tensorbase/tensorbase/blob/2e9165e7c990a5aee2c1b0486cfaf1bc314594c4/crates/lang/src/bql.pest#L10). You can try to add all cmds with "semicolon" to see if it is ok or not. If ok, you can try some alternative to shorten the grammar, some like(not tested):
[code]
and make cmd_list shorter.

It i

[2021-07-18 08:45] ygf11 opened #201 "tb does not support not null and default column value when creating table"
when I create table with `not null` or `default column  value` , server reports error:
1. sql: `CREATE TABLE person(　    `person_id` UInt64,　    `nick_name` String DEFAULT '123')　ENGINE = BaseStorage PARTITION BY person_id`
2. `08:37:48 [DEBUG] (11) server: Found error: Unsupported language feature found`

I found it does not support this now. Supporting `not null` syntax is easy, we can add `not

[2021-07-18 09:07] jinmingjian commented on #201
@ygf11 Yes, for the compatibility, it may be nice to accept a PR.  Commonly, CH uses Nullable type to indicate NULL-like, others is NOT NULL in default. (Mixed Nullable and NULL keyword seems a little bad...but from mysql side, this is still good to have)

Default keyword support is great. It is asking a server side processing mechanism which we have done for partition key expressions. You may hav

[2021-07-18 09:38] ygf11 commented on #201
@jinmingjian ok, let me have a try.

[2021-07-18 12:15] chenyukang commented on #107
[code]
will trigger this compile error:

[code]

[2021-07-18 12:22] jinmingjian commented on #107
@ygf11 ok, my bad memory, left recursion can not supported by pest. How about your original:
[code]

[2021-07-18 12:26] chenyukang commented on #107
No, this is the same compile error.

[2021-07-18 12:36] chenyukang commented on #107
https://github.com/tensorbase/tensorbase/pull/200/files
current PR passed tests.

[2021-07-18 13:22] #107 closed

[2021-07-18 13:23] jinmingjian commented on #107
@chenyukang your PR mereged! Base thanks for your help!

[2021-07-18 13:56] jinmingjian commented on #49
it seems that current mainstream WALs are still in using "periodically flushing". This is not 100% guarantee way. But our TB design is 100% guarantee even for machine crashing. We may check in a simple version firstly.

[2021-07-19 20:00] alexey-milovidov opened #207 "How it is different with Datafuse?"
In terms of general product strategy, direction?
These projects look very similar, I'm wondering how do they differ.

[2021-07-19 20:02] alexey-milovidov commented on #188
There was a prototype implementation for differential privacy in ClickHouse, but it is not very practical.

[2021-07-20 02:42] whjpji commented on #126
@jinmingjian I'm glad that the casbin-rs community is helping us to do this, so I update our primary plans based on the discussions before here.

Basically, we need two kinds of policies, which:
1. describes which users have access to which databases/tables, in particular access patterns (e.g. read/write/update/...),
2. describes which users have access to which computing resources, how many quota

[2021-07-20 05:11] jinmingjian commented on #207
@alexey-milovidov Alex! Really appreciated for your great wishes from ClickHouse team!

In terms of general product strategy, there are many information not released indeed. From the detailed tech implementation, ClickHouse(CH, for short), of course, is our great teacher. But, furthermore, TensorBase(TB, for short) also wants to systematically correct the problems shown in ClickHouse and from the

[2021-07-20 09:24] BohuTANG commented on #207
@alexey-milovidov
Thanks for the question.
I like ClickHouse style:
1. the product must solve actual problem
2. and do it better than others

@jinmingjian
Hi, Thanks for the comments.
But your comments are unfair and you don't even understand what we are doing.
Datafuse is a Modern Real-Time Data Processing & Analytics DBMS with Cloud-Native Architecture.

Comments are cheap, show me the product a

[2021-07-20 10:24] drmingdrmer commented on #207
@jinmingjian
I've been working on the storage layer of DataFuse and am so glad that there are some other people found that raft is an old fashion toy and has been looking for something new and adaptive to the latest cloud oriented environment.

Raft is the choice right now only because it provides a well defined engineering architecture, and is easy to use for building a prototype, not because it

[2021-07-20 11:36] jinmingjian commented on #207
Hi, @BohuTANG , take it easy:) My comment is truly biased on my understanding. Alex or more people asks this problem because they feel to find common things. As the author, I explain the difference from my view. So, this is just **my own opinion**.

I may do not understand what you are doing. But modern, real-time, data, analytics, cloud are also what TB is pursuing. We are sure to have our own un

[2021-07-20 12:00] jinmingjian commented on #207
The new protocol takes exactly only 1 RTT to commit a message in a cluster of 3 DC(and at most 5 DC).

Thanks for sharing, raft is still good, and welcome your new protocol:) I just show the different thinkings of TB.  But "comment is cheap". I just leave the answer for time.

good wishes for you:)

[2021-07-21 02:52] jinmingjian commented on #188
@alexey-milovidov Great! "Differential privacy", as my understanding, will introduce lossy statistical perturbation. This is great for the privacy for the users of apps on the top of data system. My viewpoint of this issue is the privacy for the users of data system itself. So FHE listed. Of course, they are orthogonal in some extent.

[2021-07-21 07:27] fandahao17 opened #209 "integ_test_timing test is perhaps too strict"
While running the unit tests, I encountered this error.

[code]

The error happens in this line.

[code]

From the stdout, I suspect the failure is because we let the the thread sleep for 20ms and check that the timer indeed reports that time has passed 20 ms. In my case the time passed 22.260992ms, which does not seem very bad. However, because we only tolerate 1ms error, the test mistakenly repo

[2021-07-21 09:19] jinmingjian commented on #209
@fandahao17 possible. Welcome to sent out a PR for this. It is OK to relax this best-effort kind testcase.

[2021-07-22 06:51] #209 closed

[2021-07-22 08:20] fandahao17 commented on #80
Hi, @lispking and @gcxfd! I ported TB to MacOS in #208. It works well on my Mac now. Feel free to try it out!

[2021-07-22 08:23] jinmingjian commented on #80
@fandahao17 Could you help a PR to change [the document here](https://github.com/tensorbase/tensorbase/blob/main/docs/docs.md#platform-requirements)?

[2021-07-22 08:24] jinmingjian commented on #80
and base really thanks for @fandahao17 's help at such an experimental MacOS porting! :rocket:

[2021-07-22 12:55] jinmingjian commented on #55
Further tasks for the help:
1. write an integ_test to help to guard this feature.
2. to see if you can enable a or condition in the state machine of parse_whare (pass this task if you can not figure out the way in 1 day)
3. supports between ... and stmt
4. based on new eval heplers in base(lightjit now has a limitation, so I add new eval lib as workaround), to add fallback logics for PartitionKeyE

[2021-07-25 08:42] rushitote commented on #126
@whjpji

So, this is based on my understanding of the policy requirement. I think this would need two Casbin enforcers based on the two policy requirements.

For the first case, we could simply use a Access Control List based policy if all users have not so much databases/access patterns in common. Otherwise if there are many users who have access to a specific database with the same access patter

[2021-07-25 14:15] jinmingjian commented on #126
@whjpji thanks for updating detailed thoughts for this issue. I think we should have a unified model rather than two. And there are some dynamic requirements like quote here.

[2021-07-25 14:28] jinmingjian commented on #126
@rushitote thanks for sharing your great idea! It is a good material to reference!

[2021-07-29 09:46] jinmingjian opened #224 "checksum for storage"
we can do this in an async service.

[2021-07-30 13:31] jinmingjian opened #226 "delete support"

[2021-07-31 05:50] jinmingjian opened #227 "enable TLS client connection"
- [ ] native tcp
- [ ] https

[2021-07-31 12:06] whjpji commented on #126
Based on the current capability of TB, I have a primary plan to support access control:

1. First to add a `system.user` table to store user infos (user ID, username, password, etc.). At the first handshake of the client and server, the user is verified by password.
2. Then each query needs to be associated with a specific user, which is useful to verify whether the user has access to the queried

[2021-07-31 12:12] jinmingjian commented on #126
@whjpji self-hosted access control is cool, and we thanks for casbin framework for policy as well:)

[2021-08-01 14:43] ygf11 commented on #201
@jinmingjian thanks for your suggestions. you are right, It is really a large pr, so changing plan or RFC  is needed.
  About your suggestions:
1.  Changing ColumnInfo ser/des was a helpless choice, because default expression meta info was String type, so zero copy for columnInfo struct is not working, this really  need  carefully design. I agree with the idea of saving in kv first for compatibili

[2021-08-02 00:16] jinmingjian commented on #201
@ygf11 thanks for your ideas.

You can use serde crate, rather than your home brown algo unless yours are really faster and simpler like old zero-copy. If you really do not want to use serde, it is better to leave the document/comment about your own ser/des.

This is OK. I mean, it is better to firstly solve the problem for production-use. But this depends on your idea.

I suggest you complete thi

[2021-08-02 00:18] jinmingjian opened #229 "more documents and comments for sources"
especially for less obvious but lengthy code snippets!

[2021-08-02 12:10] ygf11 commented on #201
@jinmingjian  thanks for your suggestions.

[2021-08-03 14:17] whjpji opened #230 "`select 'abc'` cause the server stuck"
In the current version, doing queries like `select 'abc'` returns no result:
[code]
And I commented out this three lines in `engine::datafusions`:
https://github.com/tensorbase/tensorbase/blob/14e4802b9c5e9e6e9543f80380213da1fb1c56cf/crates/engine/src/datafusions.rs#L177-L180
The server will get stuck on this query
[code]
However, integral literals can work:
[code]

[2021-08-03 14:20] whjpji commented on #126
Blocked on #230, and I'm going to fix it first.

[2021-08-03 23:36] jinmingjian commented on #230
@whjpji thanks, this seems string literal handling problem. Let's fix!

[2021-08-07 02:16] whjpji commented on #230
This is caused by https://github.com/tensorbase/tensorbase/commit/fee911c0b97ea1f75b1ca1bc50e58eee93c911b1#diff-7e3045dfedcbf998dd7fe82a9c43989c11678cd970c88b571f82a92284aaac16. It works if I revert the patch.

@jinmingjian Could you please tell me the reason why this change is undid after introduced by https://github.com/tensorbase/tensorbase/commit/8657b531c280d956ff6aa3b037c977848e4efb58#diff-d

[2021-08-07 02:24] jinmingjian commented on #230
@whjpji sorry, this addition is the first hack-in. But for the latter, I remove these addition. That's we should not modify the string in this place.

[2021-08-07 05:18] pandaplusplus opened #236 "provides complete support Nullable(typename) data type."

[2021-08-07 05:59] jinmingjian commented on #236
#57

[2021-08-10 01:40] alexey-milovidov commented on #207
Ok. I will just keep an eye on both of these projects.
I will look for the ideas and share my knowledge. I hope it will benefit all the community.

[2021-08-10 01:40] alexey-milovidov commented on #207
@jinmingjian BTW, I have tested Datafuse,
you may find this interesting: https://github.com/ClickHouse/ClickHouse/issues/27510

[2021-08-10 08:55] jinmingjian commented on #207
@alexey-milovidov Alex, thanks for feedback and benchmark sharing! I have seen too many such things in the local community, unfair comparison is just one of them. These operations are only destructive to the open source community. As a member of entire open source community, I also hope everyone in the community could respect innovations to help rather than destruct the community.

[2021-09-10 13:33] nautaa opened #266 "support primary key"
The primary key plan supports data deduplication.

First of all, the primary key on a single column is supported. When data is inserted, judge whether the row appears in the table by primary key. If there is already row with the same primary key, the insertion is skipped.

The initial plan is to achieve deduplication by maintaining a deduplication `container` for each table. When the database is r